body {
    background-color: #fff;
    color: #333;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.dark-mode {
    background-color: #333;
    color: #fff;
}

#theme-toggle {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #eee;
    border: none;
    border-radius: 5px;
}
